:root{
--primary: #84019e;
--primary-lighten: #9f00be;
--secondary: #e908b8;
}


.diagonal-split-background{
  background-color: #f1f1f1;
  background-image: -webkit-linear-gradient(52deg, #ffffff 30%, #84019e 50%);
}

.horizontal-split-background{
  background-color: #f1f1f1;
  background-image: -webkit-linear-gradient(90deg, #ffffff 20%, #b8bb00 80%);
}

.text-secondarys{
  color: var(--secondary);
}

.card-pictures{
  max-width: 50%;
}